html,body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #6E9C9A;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
.container {
    display: flex;
    width: 720px;
    height: 545px;
    background-color: #FEBA33;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    
}
.left-container {
    display: flex;
    width: 340px;
    height: 545px;
    position: absolute;
    background-color: #1A505A;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    justify-content: center;
    overflow: hidden;
}
.l-img {
    width: 235px;
    height: 300px;
    align-self: center;
} 
.shade {
    width: 175px;
    height: 370px;
    display: flex;
    position: absolute;
    align-self: center;
    clip-path: polygon(0 0, 100% 12%, 100% 86%, 0% 100%);
    background-color: rgba(252, 227, 109, 0.05);
    transform: translateX(-7.8rem);
    

}
.right {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 385px;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    
}
.right-container {
    position: relative;
    display: flex;
    width: 240px;
    height: 230px;
    background-color: white;
    align-self: center;
    margin-right: 70px;
    margin-left: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
    flex-direction: column;
    
    
}
.up-row {
    display: flex;
    width: 100%;
    height: 45px;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.3);
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.links {
    display: flex;
    text-decoration: none;
   
    
}
#link-1 {
    display: flex;
    margin-left: 12px;
    color: #d8b466;
}
#link-2 {
    display: flex;
    margin-right: 12px;
    color: rgba(80,80,80,0.8);
}
.main-row {
    display: flex;
    height: 185px;
    flex-direction: column;
    align-items: center;
}
.inputs {
    display: flex;
    width: 210px;
    height: 30px;   
    outline: 0;
    border-width: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    background-color: rgba(128, 128, 128, 0.1);
    
}
.inputs:focus-within {
    background-color: white;
    color: #184E58;
}
#usnm {
    display: flex;
    margin-top: 20px;
}
#pwd {
    display: flex;
    margin-top: 10px;
} 
.button {
    display: flex;
    width: 210px;
    height: 38px;
    background-color: #184E58;
    color: white;
    margin-bottom: 1rem;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-radius: 4px;
} 
.button:hover {
    cursor: pointer;
}
.bt-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
    margin-right: 65px;

}
#btl-1 {
    display: flex;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
}
#btl-2 {
    display: flex;
    margin-top: .25rem;
    text-decoration: none;
    color: #184E58;
}
